<!-- templates/post.html -->
{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Post{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% if current_user.is_authenticated %}
        <div class="comment-form">
            {{ wtf.quick_form(form) }}
        </div>
        {% endif %}
        {% include '_posts.html' %}

        <h4>Comments</h4>
        {% if comments %}
            {% include '_comments.html' %}
            {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
            </div>
            {% endif %}
        {% else %}
            <p class="text-muted">No comments yet. Be the first to comment!</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
